body {
  margin: 0;
  background-color: #eee;
}

.wrap {
  width: calc(100% - 16px);
  max-width: 680px;
  margin: 0 auto;
}

.form {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  margin: 8px 0;
}

.form__item {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto 4px;
}

.form__label {
  padding-right: 8px;
  flex-shrink: 0;
}

.form__input {
  padding: 4px;
}

.form__textarea {
  padding: 4px;
  width: 100%;
  height: 64px;
}

.form__item__submit {
  justify-content: flex-end;
}

.form__submit {
  padding: 4px 12px;
}

.comment {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}

.comment__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.comment__item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

.comment__item:last-child {
  border-bottom: none;
}

.comment__meta {
  display: flex;
  justify-content: space-between;
}

.comment__content {
  margin: 0;
}
