body {
  background-color: #f4f2ef;
  color: #626063;
  padding-bottom: 200px;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.form {
}

.form__item {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid rgba(98,96,99,.3);
}

.form__item__privacy {
  flex-direction: row;
  justify-content: center;
  border-bottom: none;
}

.form__label {
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  border: none;
  padding: 16px;
}

.form__input:disabled {
  background-color: white;
}

.form__input:focus {
  outline: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.form__input__textarea {
  resize: none;
  width: 95%;
  height: 200px;
}

.form__item__submit {
  border-bottom: none;
  align-items: center;
}

.form__submit {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1rem;
  max-width: 50%;
  padding: 8px 56px;
  background-color: #626063;
  border-radius: 4px;
  border: none;
}

.privacy {
  width: 80%;
  margin: 0 auto;
  height: 60px;
  padding: 16px;
  line-height: 2rem;
  overflow-y: scroll;
  background-color: white;
}
